.view {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f0f0f0;
}

.appbar {
  transform: translate3d(0, -56px, 0);
  transition-duration: 0ms;
}

.view.hide-controls .appbar {
  transform: translate3d(0px, -112px, 0px);
}

.bottom-navigation {
  position: fixed;
  width: 100%;
  bottom: 0;
  transform: translate3d(0, 0px, 0);
}

.view.hide-controls .bottom-navigation {
  transform: translate3d(0px, 56px, 0px);
}

.fab {
  position: fixed;
  right: 16px;
  bottom: 72px;
  transform: translate3d(0, 0px, 0);
}

.view.hide-controls .fab {
  transform: translate3d(0, 128px, 0);
}

.content {
  max-width: 800px;
  width: 100%;
  position: relative;
}