.intro {
  background-color: #37474f;
  color: #fff;
  position: fixed;
  top: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.intro .slide {
  top: 100%;
  height: 100%;
  font-weight: 300;
}

.intro .slide h1,
.intro .slide h2,
.intro .slide h3,
.intro .slide h4 {
  font-weight: 300;
}

.intro .slide .Flex {
  height: 100%;
  width: 100%;
}

.intro .slide-content {
  text-align: center;
  align-self: center;
}

.intro .actions {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 16px;
}

.intro .pin {
  border: none;
  padding: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
}

.intro .pin.selected {
  background-color: rgba(255, 255, 255, 0.2);
}

.intro .pin:not(:last-child) {
  margin-right: 8px;
}