.App .appbar {
  transform: translate3d(0, 0, 0);
  transition-duration: 0ms;
}

.App .bottom-navigation {
  position: fixed;
  width: 100%;
  bottom: 0;
  transform: translate3d(0, 0px, 0);
}

.App .fab {
  position: fixed;
  right: 16px;
  bottom: 72px;
  transform: translate3d(0, 0px, 0);
}

.App.mobile.scroll-1 .appbar {
  transform: translate3d(0px, -64px, 0px);
}

.App.mobile.scroll-1 .bottom-navigation {
  transform: translate3d(0px, 56px, 0px);
}

.App.mobile.scroll-1 .fab {
  transform: translate3d(0, 56px, 0);
}

.App .content {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}