.view {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f0f0f0;
}

.appbar {
  transform: translate3d(0, 0, 0);
  transition-duration: 0ms;
}

.bottom-navigation {
  position: fixed;
  width: 100%;
  bottom: 0;
  transform: translate3d(0, 0px, 0);
}

.fab {
  position: fixed;
  right: 16px;
  bottom: 72px;
  transform: translate3d(0, 0px, 0);
}

.mobile.scroll-1 .appbar {
  transform: translate3d(0px, -64px, 0px);
}

.mobile.scroll-1 .bottom-navigation {
  transform: translate3d(0px, 56px, 0px);
}

.mobile.scroll-1 .fab {
  transform: translate3d(0, 56px, 0);
}

.content {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}